body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('image.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    min-height: 700px;
}

#app {
    background-image: linear-gradient(to bottom, #92c8cf, #023E6E);
    background-color: rgba(255, 255, 255, 0.5);
    width: 85%;
    width: 700px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    /*flex*/
    opacity: 0.97;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
}

#title {
    text-align: center;
}

h1 {
    color: #000;
    font-family: cursive;
}

#input {
    display: flex;
    grid-auto-columns: auto;
    grid-column-gap: 20px;
}

#inputEquation {
    width: 250px;
    height: 50px;
    resize: vertical;
}

#textbtn {
    margin-left: 280px;
    width: 100px;
    height: 30px;
}

#methods {
    width: 200px;
    height: 20px;
}

#solvebtn {
    margin-left: 280px;
    width: 100px;
    height: 30px;
    justify-items: center;
}

#result {
    display: flex;
    grid-auto-columns: auto;
    grid-column-gap: 20px;
    justify-items: center;
    justify-content: center;
}

#resultbox {
    width: fit-content;
    height: fit-content;
    resize: vertical;
}